# User properties
ADDRESS=127.0.0.1
API_PORT=1202
CONTAINER_NAME=docker-stats-api
PULL_INTERVAL=5000
SHOW_TOAST=true
DEBUG_MODE=false

# Developer settings
## Shows all UIs that works with the <v-if> directive such as toast messages.
SHOW_ALL_UI=false
## Randomly changes the value of stats. If turned on, fetching server's stats will be paused.
RAND_STAT_VAL=false